@source "../../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  @apply bg-kumo-base text-kumo-default antialiased;
}

#root {
  min-height: 100dvh;
}